<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/assets/css/general.css">
    <link rel="stylesheet" href="/assets/css/verify.css">
    
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/png">

    <title>Có chuyện xảy ra!</title>
</head>
<body>
    <main>
        <h2 style="font-weight: 100;">Chào bạn ^^</h2>
        <h4 style="font-weight: 100;">Bạn đoán xem? Tài khoản của bạn đã bị...</h4>
        <h1 style="font-weight: 100; color: red;">KHÓA!</h1>
        <h5 style="font-weight: 100;">Xin lỗi nha. -mrbeeder-</h5>
    </main>
</body>
</html>
